/* Sidebar */
.footer {
    flex-direction: row;
    position: fixed;
    background-color: #38cdff;
    justify-content: space-evenly;
    align-items: center;
    order: 3;
    max-height: 8vh;
    min-height: 5vh;
    width: 105vw;
    bottom: 0;
    z-index: 1;
    -webkit-transform: translateX(-3%);
    transform: translateX(-3%);
}

.footer p {
    order: 2;
    min-height: 5%;
    font-size: 35px;
    text-align: center;
    color: white;
}

.footer .x {
    width: 15vh;
    margin-top: 1.5vh;
    margin-left: 2vw;
}

.footer a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: #aaaaaa;
}

.footer ul {
    order: 4;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.footer ul li {
    list-style-type: none;
    margin: 5% 5% 5% 0;
}

.footer i {
    font-size: 1.5em;
}

.footer hr {
    align-self: center;
}