/* Sidebar */
.footer {
    flex-direction: row;
    position: inherit;
    background-color: #38cdff;
    justify-content: space-evenly;
    align-items: center;
    order: 3;
    min-height: 5vh;
    width: 105vw;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 100%;
    -webkit-box-shadow: 0px -1px 5px rgba(190,190,190,0.7);
    -moz-box-shadow: 0px -1px 5px rgba(190,190,190,0.7);
    box-shadow: 0px -1px 5px rgba(190,190,190,0.7);
}

.footer p {
    font-family: 'Gochi Hand', cursive;
    color: white;
}

.name {
    order: 1;
    font-size: 5em;
    padding-left: 2vw;
}

.copyright {
    order: 3;
    margin-top: 2px;
    font-size: 1.5em;
}

.footer .x {
    order: 2;
    width: 15vh;
    margin-top: 1.5vh;
}

.footer a {
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.footer a:hover {
    color: #aaaaaa;
}

.footer ul {
    order: 4;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 2vw;
    padding-left: 0;
}

.footer ul li {
    list-style-type: none;
    margin: 5% 7% 5% 0;
}

.footer i {
    font-size: 2em;
}

.footer hr {
    align-self: center;
}


@media only screen and (min-width: 700px) {
    .name {
        order: 1;
        margin-left: -15vw;
    }
    .x {
        order: 2;
        margin-left: -15vw;
    }
    .mobile {
        order: 4;
     }
    .copyright {
        order: 3;
        margin-left: -15vw;
    }
    .footer ul {
        margin-right: -10vw;
        width: 30vw;
    }
    .footer ul li {
        margin-left: 1vw;
    }
}

@media only screen and (max-width: 700px) {

    .footer {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        order: 4;
        padding-top: 5vh;
        max-height: 8vh;
        min-height: 5vh;
        width: 100vw;
        z-index: 1;
        left: 0;
        bottom: 0;
        margin-bottom: -10vh;
        height: 100%;
    }

    .mobile-circle {
        align-self: center;
        position: relative;
        order: 5;
        background-color: #38cdff;
        height: 15vh;
        width: 105vw;
        z-index: 0;
        left: 0;
    }

    .name {
        display: none;
    }

    .mobile {
        order: 2;
        flex-direction: column;
    }

    .footer .x {
        margin-right: -3vw;
        width: 15vh;
    }

    .icons {
        order: 1;
        flex-wrap: wrap;
    }

    .copyright {
        margin-top: 1vh;
        font-size: 1em;
        order: 2;
    }

    .footer i {
        font-size: 1.5em;
    }

    .footer ul {
        order: 1;
        margin-left: -6vw;
    }

    .footer ul li {
        padding-left: 1vw;
    }
}