html, body {
    margin-top: -1vh !important;
    overflow-x: hidden;
}

body {
    font-family: 'Muli', sans-serif;
}

hr {
    width: 70%;
    border-radius: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

i {
    font-size: 15px;
    color: white;
}

i:hover {
    color: #e1e1e1;
}

.hidden {
    display: none;
}

::selection {
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
::-moz-selection {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.vertical-timeline-element-title {
    margin-top: -2.2vh !important;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrapper {
    margin-bottom: -17vh;
    margin-left: -2.5vw;
}

#top {
    float: right;
    margin-left: 10%;
    left: 0;
}

#top p {
    font-size: 14px;
    text-align: right;
}

.main {
    font-size: 20px;
    order: 2;
    margin-right: 2%;
    padding: 15px;
    margin-left: 5%;
    width: 88%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.main-index {
    margin-top: 7vh;
}

.title {
    text-align: right;
    margin-top: 3%;
    font-weight: bold;
    font-size: 40px;
}

.subtitle {
    text-align: right;
    margin-top: 3%;
    font-weight: bold;
    font-size: 40px;
}

#about {
    padding-top: 5%;
    margin-top: -7vh;
    margin-right: 2vw;
    margin-bottom: 10vh;
    text-align: right;
    line-height: normal;
    font-size: 1em;
    color: #4a4a4a;
}

.dark {
    font-weight: bold;
    color: #0f0f0f;
}

.main {
    margin-bottom: 15vh;
}

.main hr {
    text-align: right;
    margin-left: 40%;
}

#particles-js {
    z-index: -100;
    overflow: hidden;
}

canvas {
    position:absolute;
    top:0;
    left:0;
    width: 100vw !important;
    height: 25vh !important;
}

#stars-js{ position:absolute; padding-bottom: 100vw !important; z-index: 0; width: 100vw; height: 100vh; margin-left: -3vw; background-color: black;  background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; }

@media only screen and (max-width: 700px) {
    .top-text {
        margin-bottom: -1vh;
    }
    #about {
        margin-top: 1.5vh;
        text-align: left;
    }
}