body {
    font-family: 'Muli', sans-serif;
    margin-top: -5px;
}

hr {
    width: 70%;
    border-radius: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

i {
    font-size: 15px;
    color: white;
}

i:hover {
    color: #e1e1e1;
}

.hidden {
    display: none;
}

::selection {
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
::-moz-selection {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#top {
    float: right;
    margin-left: 10%;
    left: 0;
}

#top p {
    font-size: 14px;
    text-align: right;
}

.menu-div {
    background-color: black;
    height: 102vh;
    z-index: 1000;
    opacity: 0.7;
    width: 101vw;
    position: fixed;
    justify-content: center;
    left: 0;
}

.navbar {
    align-items: center;
    height: 100vh;
    width: 30vw;
    position: fixed;
    justify-content: center;
    left: 36vw;
    top: 1vh;
}

.navbar a {
    font-size: 55px !important;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

/* Sidebar */
.sidebar {
    background-color: #38cdff;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    order: 1;
    height: 100%;
    min-height: 100vh;
    width: 45vw;
    z-index: 1;
    transform: translateX(-3%);
}

.sidebar * {
}

.sidebar #menu-button {
    z-index: 100000;
    width: 15%;
    order: 0;
    margin-left: 3vw;
    align-self: flex-start;
    margin-bottom: 3vh;
}

.sidebar #profile_img {
    order: 1;
    width: 55%;
    margin-bottom: 12%;
    border-radius: 100%;
}

.sidebar p {
    order: 2;
    min-height: 5%;
    font-size: 35px;
    text-align: center;
    color: white;
}

.sidebar .x {
    order: 3;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-between;
}

.x img {
    width: 70%;
    color: white;

}

.sidebar a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    color: #aaaaaa;
}

.sidebar ul {
    order: 4;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    padding-left: 0;
}

.sidebar ul li {
    list-style-type: none;
    margin: 5%;
}

.sidebar hr {
    align-self: center;
}

.main {
    font-size: 20px;
    order: 2;
    margin-right: 2%;
    padding: 15px;
    margin-left: 5%;
    width: 88%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.title {
    text-align: right;
    margin-top: 3%;
    font-weight: bold;
    font-size: 40px;
}

#about {
    padding-top: 5%;
    text-align: right;
}

.main hr {
    text-align: right;
    margin-left: 40%;
}

#particles-js {
    z-index: -100;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

canvas {
    position:absolute;
    top:0;
    left:0
}

#stars-js{ position:absolute; width: 100%; height: 100%; background-color: black;  background-repeat: no-repeat; background-size: 20%; background-position: 50% 50%; }
